* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
:root{

    /* Light Theme */

    --primary-color: #2D4BFF;
    --secondary-color: #AFFDE4;

    --text-color: #2D4BFF;
    --heading-color: #1A1A1A;

    --bg-color: #FFFFFF;
    --card-bg-color: #F8FFFD;

    --gradient:
        linear-gradient(
            to right,
            #AFFDE4,
            #AFFDE4
        );
    
     --gradient-hero:
        linear-gradient(
            to right bottom,
            #AFFDE4,
            #AFFDE4,
            #FFFFFF
        );

    --border-color: #2D4BFF;

    --success-color: #22C55E;
    --error-color: #EF4444;
}

.dark-mode{

    /* Dark Theme */

    --primary-color: aqua;
    --secondary-color: #5A5858;

    --text-color: aqua;
    --heading-color: #FFFFFF;

    --bg-color: #000000;
    --card-bg-color: #1A1A1A;

    --gradient:
        linear-gradient(
            to right,
            black,
            #5A5858,
            black
        );

    --border-color: aqua;

    --success-color: #22C55E;
    --error-color: #EF4444;
}


main {
    max-width: 1600px;
    height: auto;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.484);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#signup-page {
    border-radius: 10px;
    width: 70%;
    height: 95%;
    padding: 2% 5%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background: linear-gradient(to right, #affde4, #affde4, #ffffff);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    /* display: none; */
    position: absolute;
    top: 2%;

}

#signup-page-left {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* gap: 50px; */
    border-bottom: 1px solid #2d4bff;
    border-left: 1px solid #2d4bff;
    border-top: 1px solid #2d4bff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    /* background-color: yellow; */
}

#signup-page form {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    /* background-color: yellowgreen; */
}

#signup-page-left .info {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #2D4BFF; */
    margin-top: 20px;
    padding: 0 17% 0 10%;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1vw;
    justify-content: space-between;
}

#signup-page-left .info input {
    border: none;
    padding: 1.5% 2%;
    font-size: 0.9vw;
    border-radius: 7px;
}

#signup-page-left .info input:focus {
    outline: none;
    border: 1px solid #2d4bff;
}

#signup-page-left .profile {
    /* background-color: yellow; */
    width: fit-content;
    height: 20vh;
    padding: 10px;
    border-radius: 7%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.profile input {
    display: none;
}

.upload-btn {
    border: 1px solid #2d4bff;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 45px 10px;
    background: #a4f1e9;
    border-radius: 7%;
    cursor: pointer;
    font-weight: 600;
}

#signup-btn {
    /* position: absolute; */
    /* bottom: 3%; */
    margin-top: 10%;
    background: linear-gradient(to bottom right, #affde4, #ffffff, #affde4);
    border: 1px solid #2d4bff;
    padding: 2% 7%;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}

#signup-page-right {
    width: 40%;
    height: 80vh;
    background-image: url(assets/signup-pic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2d4bff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* background-color: yellow; */
}
#signup-page-right img {
    width: 50px;
}
#signup-page-right p{
    position: absolute;
    bottom: 5%;
}
#signup-page-right p span{
    color: #2d4bff;
    font-weight: bold;
    cursor: pointer;
}

.pfp-error{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
    display: none;
}
#signup-page .errors{
    width: 19vw;
    /* background-color: yellow; */
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    font-size: .9vw;
}
#signup-page .error{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
}

#signup-page .info-error{
    display: none;
    /* background-color: yellow; */
    margin-top: 1%;
}
#signup-page .condition-error{
    display: none;
    margin-top: 1%;
}
#signup-page .verify{
    display: none;
    margin-top: 1%;
}


/* signup page complete ho gaya  */


#login-page{
    border-radius: 10px;
    width: 60%;
    height: 90%;
    padding: 2% 5%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background: linear-gradient(to right, #affde4, #affde4, #ffffff);
    /* display: none; */
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    position: absolute;
    top: -100%;
}

#login-page-left{
    width: 50%;
    height: 70vh;
    background-image: url(assets/signup-pic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2d4bff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#login-page-left p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 15%;
}
#login-page-left p span{
    color: #2d4bff;
    font-weight: bold;
    cursor: pointer;
}


#login-page-right {
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-bottom: 1px solid #2d4bff;
    border-right: 1px solid #2d4bff;
    border-top: 1px solid #2d4bff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    /* background-color: yellow; */
}

#login-page form {
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    position: relative;
}

#login-page-right .info {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #2D4BFF; */
    margin-top: 40px;
    width: 100%;
    width: 27vw;
    display: flex;
    justify-content: space-between;
    padding: 0% 17% 0% 10%;
    align-items: center;
    font-weight: bold;
    font-size: 1.2vw;
    justify-content: space-between;
}

#login-page-right .info input {
    border: none;
    padding: 3% 2%;
    font-size: 0.9vw;
    border-radius: 7px;
}

#login-page-right .info input:focus {
    outline: none;
    border: 1px solid #2d4bff;
}

#login-btn {
    /* position: absolute; */
    /* bottom: 0%; */
    margin-top: 10%;
    background: linear-gradient(to bottom right, #affde4, #ffffff, #affde4);
    border: 1px solid #2d4bff;
    padding: 2% 10%;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}

#login-page .errors{
    width: 17vw;
    /* background-color: yellow; */
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bold;
}
#login-page .login-required-error{
    display: none;
    margin-top: 1%;
}

#login-page .valid-condition-error{
    display: none;
    margin-top: 1%;
}
#login-page .both-condition-error{
    display: none;
    margin-top: 1%;
}












nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: var(--gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    z-index: 2;
}

nav img {
    width: 12%;
    /* display: none; */
}

.dark-mode img{
    width: 13%;
}
nav #dark-mode-logo{
    display: none;
}

.dark-light-toggle {
    width: 6vh;
    height: 6vh;
    background-color: transparent;
    /* background-color: yellow; */
    border: 1px solid #5a5858;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
}

#dark-mode-toggle{
    position: absolute;
    color: var(--heading-color);
    font-size: 1.3vw;
    display: none;
}
#light-mode-toggle{
    position: absolute;
    color: var(--heading-color);
    font-size: 1.3vw;
    /* display: none; */
}

/* Navbaar section Completed */

/* Grid background design */
#hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
    /* background-color: white; */
    background: var(--gradient);
    /* background: linear-gradient(to right, black , #5a5858, black); */
    overflow: hidden;
    /* z-index: -1; */
    /* base layer */
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(#158bc62a 1px, transparent 1px),
        linear-gradient(90deg, #9be7842a 1px, transparent 1px);
    background-size: 40px 40px;
    pointer-events: none;
    /* z-index: 1; */
}

#hero-section-heading {
    z-index: 1;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 55%;
    height: auto;
    color: var(--heading-color);
    /* color: white; */
    /* background-color: yellow; */
}

#hero-section-heading h1:first-child {
    /* letter-spacing: .1px; */
    word-spacing: 0.01px;
}

#changing-text {
    display: inline-block;
    color: var(--primary-color);
    /* color: aqua; */
    animation: dropIn 0.6s ease;
}

@keyframes dropIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#feature-highlights {
    width: 65%;
    display: flex;
    justify-content: space-between;
    height: auto;
    color: var(--heading-color);
    /* color: white; */
    /* background-color: yellow; */
}

#feature-highlights span {
    font-size: 1.7vw;
    display: flex;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#feature-highlights span i{
    color: var(--primary-color);
    /* color: aqua; */
}


#light-project-status {
    width: 20%;
    top: 18%;
    left: 3%;
    position: absolute;
    /* display: none; */
    /* background-color: #affde43f; */
}

#light-task-progress {
    width: 25%;
    top: 70%;
    right: 0%;
    position: absolute;
    /* display: none; */
    /* background-color: #affde43f; */
}

#get-start {
    position: absolute;
    top: 80%;
    /* margin-top: 5%; */
    background: var(--gradient);
    /* background: linear-gradient(to bottom right, black , #5a5858, black); */
    border: 1px solid var(--border-color);
    /* border: 1px solid #5a5858; */
    color: var(--text-color);
    /* color: aqua; */
    padding: 0.8% 2%;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}